.checkout__terms__alerts [type='checkbox'] {
  width: 20px;
  height: 20px;
  border: 1.5px solid #25c16a;
  margin-right: 8px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkout__terms__alerts [type='checkbox']:checked::before {
  content: '\2713';
  color: white;
  width: 19px;
  height: 19px;
  background-color: #25c16a;
  position: absolute;
  top: -1px;
  left: -1px;
  text-align: center;
}