.pure_material_textfield_outlined {
  --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  position: relative;
  display: inline-block;
  padding-top: 6px;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  margin-bottom: 5%;
}

/* Input, Textarea */
.pure_material_textfield_outlined > input,
.pure_material_textfield_outlined > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px; /* Safari */
  border-color: rgb(175, 173, 173);
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: inherit;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  background-color: transparent;
  box-shadow: none; /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
}

/* Success and Error Field State */
.pure_material_textfield_outlined > input.success,
.pure_material_textfield_outlined > textarea.success {
  border-color: #25c16a;
  border-top-color: transparent;
}

.pure_material_textfield_outlined > input.error,
.pure_material_textfield_outlined > textarea.error {
  border-color: #b00020;
  border-top-color: transparent;
}

/* Span */
.pure_material_textfield_outlined > input + span,
.pure_material_textfield_outlined > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  width: 100%;
  max-height: 100%;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  font-size: 75%;
  line-height: 15px;
  cursor: text;
  opacity: 0.8;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Success and Error Field State */

.pure_material_textfield_outlined > input.success + span,
.pure_material_textfield_outlined > textarea.success + span {
  color: #25c16a;
}

.pure_material_textfield_outlined > input.error + span,
.pure_material_textfield_outlined > textarea.error + span {
  color: #b00020;
}

/* Corners */
.pure_material_textfield_outlined > input + span::before,
.pure_material_textfield_outlined > input + span::after,
.pure_material_textfield_outlined > textarea + span::before,
.pure_material_textfield_outlined > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px;
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  min-width: 10px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.pure_material_textfield_outlined > input + span::before,
.pure_material_textfield_outlined > textarea + span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.pure_material_textfield_outlined > input + span::after,
.pure_material_textfield_outlined > textarea + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}

/* Success and Error Field State */
.pure_material_textfield_outlined > input.success + span::before,
.pure_material_textfield_outlined > input.success + span::after,
.pure_material_textfield_outlined > textarea.success + span::before,
.pure_material_textfield_outlined > textarea.success + span::after {
  border-top-color: #25c16a;
}

.pure_material_textfield_outlined > input.error + span::before,
.pure_material_textfield_outlined > input.error + span::after
{
  border-top-color: #b00020;
}

/* Hover */
.pure_material_textfield_outlined:hover > input,
.pure_material_textfield_outlined:hover > textarea {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  border-top-color: transparent;
}

.pure_material_textfield_outlined:hover > input + span::before,
.pure_material_textfield_outlined:hover > textarea + span::before,
.pure_material_textfield_outlined:hover > input + span::after,
.pure_material_textfield_outlined:hover > textarea + span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.pure_material_textfield_outlined:hover > input:not(:focus):placeholder-shown,
.pure_material_textfield_outlined:hover > textarea:not(:focus):placeholder-shown {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.pure_material_textfield_outlined > input:not(:focus):placeholder-shown,
.pure_material_textfield_outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: rgb(175, 173, 173);
}

.pure_material_textfield_outlined > input:not(:focus):placeholder-shown + span,
.pure_material_textfield_outlined > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 68px;
}

.pure_material_textfield_outlined > input:not(:focus):placeholder-shown + span::before,
.pure_material_textfield_outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure_material_textfield_outlined > input:not(:focus):placeholder-shown + span::after,
.pure_material_textfield_outlined > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/*  */
.pure_material_textfield_outlined > input.error:not(:focus):placeholder-shown,
.pure_material_textfield_outlined > textarea.error:not(:focus):placeholder-shown {
  border-top-color: #b00020;
}

/* Focus */
.pure_material_textfield_outlined > input:focus,
.pure_material_textfield_outlined > textarea:focus {
  border-color: #25c16a;
  border-top-color: transparent;
  outline: none;
}

.pure_material_textfield_outlined > input:focus + span,
.pure_material_textfield_outlined > textarea:focus + span {
  border-color: #25c16a;
  color: #25c16a;
}

.pure_material_textfield_outlined > input:focus + span::before,
.pure_material_textfield_outlined > input:focus + span::after,
.pure_material_textfield_outlined > textarea:focus + span::before,
.pure_material_textfield_outlined > textarea:focus + span::after {
  border-color: #25c16a;
}

/* Error Field State onFocus*/
.pure_material_textfield_outlined > input.error:focus,
.pure_material_textfield_outlined > textarea.error:focus {
  border-color: #b00020;
  border-top-color: transparent;
  outline: none;
}

.pure_material_textfield_outlined > input.error:focus + span,
.pure_material_textfield_outlined > textarea.error:focus + span {
  border-color: #b00020;
  color: #b00020;
}

.pure_material_textfield_outlined > input.error:focus + span::before,
.pure_material_textfield_outlined > input.error:focus + span::after,
.pure_material_textfield_outlined > textarea.error:focus + span::before,
.pure_material_textfield_outlined > textarea.error:focus + span::after {
  border-color: #b00020;
}

/* Disabled */
.pure_material_textfield_outlined > input:disabled,
.pure_material_textfield_outlined > input:disabled + span,
.pure_material_textfield_outlined > textarea:disabled,
.pure_material_textfield_outlined > textarea:disabled + span {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  border-top-color: transparent !important;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  pointer-events: none;
}

.pure_material_textfield_outlined > input:disabled + span::before,
.pure_material_textfield_outlined > input:disabled + span::after,
.pure_material_textfield_outlined > textarea:disabled + span::before,
.pure_material_textfield_outlined > textarea:disabled + span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure_material_textfield_outlined > input:disabled:placeholder-shown,
.pure_material_textfield_outlined > input:disabled:placeholder-shown + span,
.pure_material_textfield_outlined > textarea:disabled:placeholder-shown,
.pure_material_textfield_outlined > textarea:disabled:placeholder-shown + span {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure_material_textfield_outlined > input:disabled:placeholder-shown + span::before,
.pure_material_textfield_outlined > input:disabled:placeholder-shown + span::after,
.pure_material_textfield_outlined > textarea:disabled:placeholder-shown + span::before,
.pure_material_textfield_outlined > textarea:disabled:placeholder-shown + span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
      .pure_material_textfield_outlined > input,
      .pure_material_textfield_outlined > input + span,
      .pure_material_textfield_outlined > textarea,
      .pure_material_textfield_outlined > textarea + span,
      .pure_material_textfield_outlined > input + span::before,
      .pure_material_textfield_outlined > input + span::after,
      .pure_material_textfield_outlined > textarea + span::before,
      .pure_material_textfield_outlined > textarea + span::after {
          transition-duration: 0.1s;
      }
  }
}